String Based Assignment Problem

1. Write a program to reverse a string.

In [ ]:
s = "Hello world"
s[::-1]

In [ ]:
# 2 Check if a string is a palindrome.
s = input("eneter a string:")
k = s[::-1]
if s==k:
    print("String is palindrome")
else:
    print("String is non-palindrome")

In [ ]:
# 3. Convert a string to uppercase.
s = input("eneter a string:")
s.upper()

In [ ]:
# 4. Convert a string to lowercase.
s = input("enter a string:")
s.lower()

In [ ]:
# 5. Count the number of vowels in a string.
s = input("enter a string:")
s.lower()
x=len(s)
count, i = 0,0
while i<x:
    if s[i]=='a' or s[i]=='i' or s[i]=='e' or s[i]=='o' or s[i]=='u':
        count = count +1
    i+=1
print("number of vowels in a string are:", count)

In [ ]:
# 6. Count the number of consonants in a string.
s = input("enter a string:")
s.lower()
x=len(s)
count, i = 0,0
while i<x:
    if s[i]!='a' and  s[i]!='i' and s[i]!='e' and s[i]!='o' and s[i]!='u':
        count = count +1
    i+=1
print("number of consonants in a string are:", count)

In [ ]:
#7. Remove all whitespaces from a string.
s = input("enter a string:")
s.replace(" ","")

In [ ]:
# 8. Find the length of a string without using the `len()` function.
s = input("enter a string:")
count = 0
for i in s:
    count +=1
print("length of a string:",count)

In [ ]:
# 9. Check if a string contains a specific word.
s = input("enter a string:")
x=input("enter a Word you want to find:")
s.lower()
x=s.find(x)
if x==-1:
    print("it doen't contain a word")
else:
    print("it contain a word")

In [ ]:
# 10. Replace a word in a string with another word.
s = "Hello"
s.replace('H',"Y")

In [ ]:
# 11. Count the occurrences of a word in a string.
s = input("enter a string:")
x=input("enter a Word you want to find:")
s=s.lower()
count=0
for i in s:
    if i==x:
        count+=1
print("occurrences of a word in a string is:",count)

In [ ]:
# 12. Find the first occurrence of a word in a string.
s = input("enter a string:")
x=input("enter a Word you want to find:")
y=s.find(x)
print("first occurrence of a word in a string at index:",y)

In [ ]:
# 13. Find the last occurrence of a word in a string.
s = input("enter a string:")
x=input("enter a Word you want to find:")
y=s.rfind(x)
print("last occurrence of a word in a string at index:",y)

In [ ]:
# 14. Split a string into a list of words.
s = input("enter a string:")
s.split(" ")

In [ ]:
# 15. Join a list of words into a string.
list1 = ['H', 'e', 'l', 'l', 'o']
print("".join(list1))

In [ ]:
'''16. Convert a string where words are separated by spaces to one where words
are separated by underscores.'''
s = "Hello World How are you"
s.replace(" ","_")

In [ ]:
# 17. Check if a string starts with a specific word or phrase.
s = input("enter a string:")
x=input("enter a Word or phrase you want to find:")
print(s.startswith(x))

In [ ]:
#18 Check if a string ends with a specific word or phrase.
s = input("enter a string:")
x=input("enter a Word or phrase you want to find:")
print(s.endswith(x))

In [ ]:
# 19. Convert a string to title case
s = input("enter a string:")
s.title()

In [ ]:
# 20. Find the longest word in a string.
s = input("enter a string:")
a= s.split()
longest = max(a,key=len)
print("Longest word",longest)

In [ ]:
#21. Find the shortest word in a string.
s = input("enter a string:")
a= s.split()
shortest = min(a,key=len)
print("Shortest word",shortest)

In [ ]:
# 22. Reverse the order of words in a string.
s = "This is New York"
a = s.split()
a.reverse()
result = " ".join(a)
print(result)

In [ ]:
# 23. Check if a string is alphanumeric.
s = input("enter a string:")
print(s.isalnum())

In [ ]:
# 24. Extract all digits from a string.
s= "There are 2 apples for 4 persons"
res = []
x=s.split()
for i in x:
    if i.isnumeric():
        res.append(int(i))
print("The numbers list is : " + str(res))

In [ ]:
# 25. Extract all alphabets from a string.
s= "There are 2 5 for 4 5"
res = []
x=s.split()
for i in x:
    if i.isalpha():
        res.append(i)
print("The Alphabhets list is : " + str(res))

In [ ]:
#26. Count the number of uppercase letters in a string.
s = "This is New York"
count=0
for i in s:
    if i.isupper():
        count+=1
print("number of uppercase letters in a string:",count)

In [ ]:
# 27. Count the number of lowercase letters in a string.
s = "This is New York"
count=0
for i in s:
    if i.islower():
        count+=1
print("number of lowercase letters in a string:",count)

In [ ]:
# 28. Swap the case of each character in a string.
s= "Satyam is the best"
print(s.swapcase())

In [ ]:
# 29. Remove a specific word from a string.
s= "Satyam is the best"
x="is"
print(s.replace(x,""))

In [ ]:
# 30. Check if a string is a valid email address.
import re 
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False

email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

In [ ]:
# 31. Extract the username from an email address string.
def extract_username(email):
    username = email.split('@')[0]  
    return username

email = "satyamm084@gmail.com"
result = extract_username(email)
print(result)

In [ ]:
#32. Extract the domain name from an email address string.
def extract_domain(email):
    domain = email.split('@')[1] 
    return domain

email = "satyamm084@gmail.com"
result = extract_domain(email)
print(result)

In [ ]:
#33. Replace multiple spaces in a string with a single space.
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  
    return cleaned_string

input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

In [ ]:
#34. Check if a string is a valid URL.
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  
    except ValueError:
        return False


url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  
print(result2)

In [ ]:
#35. Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    
    protocol_end = url.find("://")

    if protocol_end != -1:
     
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

In [ ]:
#36. Find the frequency of each character in a string.
def character_frequency(input_string):
    frequency = {}  

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  
        else:
            frequency[char] = 1   

    return frequency

input_str = "hello world"

char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

In [ ]:
#37. Remove all punctuation from a string.
import string

def remove_punctuation(input_string): 
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)

    return clean_string

input_str = "Hello, world! How's it going?"
cleaned_str = remove_punctuation(input_str)

print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

In [ ]:
#38. Check if a string contains only digits.
s = input("enter a string:")
a = s.isnumeric()
if a==True:
    print("string contains only digits")
else:
    print("string doesn't contains only digits")

In [ ]:
#39. Check if a string contains only alphabets.
s = input("enter a string:")
a = s.isalpha()
if a==True:
    print("string contains only alphabets")
else:
    print("string doesn't contains only alphabets")

In [ ]:
#40. Convert a string to a list of characters.
s = input("enter a string:")
l=list(s)
l

In [ ]:
#41. Check if two strings are anagrams.
s1 = input("enter a string:")
s2 = input("enter a string:")
if sorted(s1)==sorted(s2):
    print("two strings are anagrams")
else:
    print("two strings are non-anagrams")

In [ ]:
#42. Encode a string using a Caesar cipher.
def caesar_cipher(text, shift):

  encoded_text = ""

  for char in text:

    if char.isalpha():

      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
  
      encoded_char = char

    encoded_text += encoded_char

  return encoded_text

text = "Hello, world!"
shift = 3

encoded_text = caesar_cipher(text, shift)

print("Encoded text:", encoded_text)

In [ ]:
#43. Decode a Caesar cipher encoded string.

def caesar_cipher_decoder(text, shift):


    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

In [ ]:
# 44. Find the most frequent word in a string.


import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()
    word_counter = Counter(words)

    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word

input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

In [ ]:
#45. Find all unique words in a string.
import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())

    return words
input_str = "Hello world, hello there! How's the world?"

unique_word_set = unique_words(input_str)
print("Unique words:", unique_word_set)

In [ ]:
 #46. Count the number of syllables in a string.
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

In [ ]:
#47. Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

In [ ]:
#48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

In [ ]:
#49. Insert a word at the nth position in a string.
test_string = 'SatyamMishra'
 
# initializing add_string
add_string = "for"
 
# printing original string
print("The original string : " + test_string)
 
# printing add string
print("The add string : " + add_string)
 
# initializing N
N = 5
 
# using list slicing
# Add substring at specific index
res = test_string[ : N] + add_string + test_string[N : ]
     
# print result
print("The string after performing addition : " + str(res))

In [ ]:
# 50. Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

List Based Practice Problem :

In [ ]:
#1. Create a list with integers from 1 to 10.
l=[i for i in range(1,11)]
print(l)

In [ ]:
#2. Find the length of a list without using the `len()` function.
l=[1,2,3,4,5,6,7]
count=0
for i in l:
    count+=1
count

In [ ]:
# 3. Append an element to the end of a list.
l=[1,2,3,4,5,6,7]
l.append(10)
l

In [ ]:
# 4. Insert an element at a specific index in a list.
l=[1,2,3,4,5,6,7]
l.insert(4,11)
l

In [ ]:
# 5. Remove an element from a list by its value.
l=[1,2,3,4,5,6,7]
l.remove(3)
l

In [ ]:
# 6. Remove an element from a list by its index.
l=[1,2,3,4,5,6,7]
l.pop(2)
l

In [ ]:
# 7.Check if an element exists in a list.
l=[1,2,3,4,5,6,7]
x=51
count=0
for i in l:
    if i==x:
        count=1
if count==1:
    print("number found")
else:
    print("number not found")

In [ ]:
# 8. Find the index of the first occurrence of an element in a list.
l=[1,2,3,4,5,5,7]
element = 5
x=l.index(element)
x

In [ ]:
# 9. Count the occurrences of an element in a list.
l=[1,2,3,5,5,8,5,7]
count=0
element = 5
for i in l:
    if i==element:
        count+=1
count

In [ ]:
# 10. Reverse the order of elements in a list.
l=[1,2,3,4,5,6,7]
l.reverse()
l

In [ ]:
# 11. Sort a list in ascending order.
l=[1,3,2,5,9,88,11,23,54,21,568,55]
l.sort()
l

In [ ]:
# 12. Sort a list in descending order.
l=[1,3,2,5,9,88,11,23,54,21,568,55]
l.sort(reverse=True)
l

In [ ]:
# 13. Create a list of even numbers from 1 to 20.
n=20
l=[]
for i in range(1,n+1):
    if i%2==0:
        l.append(i)
l

In [ ]:
# 14. Create a list of odd numbers from 1 to 20.
n=20
l=[]
for i in range(1,n+1):
    if i%2!=0:
        l.append(i)
l

In [ ]:
# 15. Find the sum of all elements in a list
l=[1,2,3,4,5,6,7,10,10,10]
x=len(l)
count=0
i=0
while i<x:
    count=count+l[i]
    i+=1
count

In [ ]:
# 16. Find the maximum value in a list.
l=[1,2,3,4,5410,6,7,321,221,10]
x=len(l)
l.sort()
y=l.pop(x-1)
y

In [ ]:
# 17. Find the minimum value in a list.
l=[1,2,3,4,5410,6,7,0,221,10]
x=len(l)
l.sort()
y=l.pop(0)
y

In [ ]:
# 18. Create a list of squares of numbers from 1 to 10.
l=[]
j=0
while i<11:
    x=i*i
    l.append(x)
    i+=1
    j+=1
print(l)

In [ ]:
# 19. Create a list of random numbers
import random
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

In [ ]:
# 20. Remove duplicates from a list.
l=[1,1,2,2,3,3,4,5,5,6,6]
a=set(l)
list(a)

In [ ]:
# 21. Find the common elements between two lists.
l1=[1,2,3,4,5,6]
l2=[7,8,9,10,1,4,2]
l3=[]
a=len(l1)
b=len(l2)
for i in range(a):
    for j in range(b):
        if l1[i]==l2[j]:
            l3.append(l1[i])         
print(l3)

In [ ]:
# 22. Find the difference between two lists
li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]
 
temp3 = []
for element in li1:
    if element not in li2:
        temp3.append(element)
 
print(temp3)

In [ ]:
# 23. Merge two lists.
li1 = [10, 15, 20, 26, 30, 36, 41]
li2 = [25, 40, 35]
print(li1+li2)

In [ ]:
#24. Multiply all elements in a list by 2.
l1=[1,2,3,4,8,10]
l2=[]
x=len(l1)
for i in l1:
    a=i*2
    l2.append(a)
print(l2)

In [ ]:
# 25. Filter out all even numbers from a list.
l1=[1,2,3,4,8,10,5,11,23,24]
l2=[]
for i in l1:
    if i%2==0:
        l2.append(i)
print(l2)

In [ ]:
# 26. Convert a list of strings to a list of integers
l1 = ['1', '2', '3', '4', '5']
for i in range(len(l1)):
    l1[i]=int(l1[i])
print(l1)

In [ ]:
# 27. Convert a list of integers to a list of strings
l1 = [1, 2, 3, 4, 5]
for i in range(len(l1)):
    l1[i]=str(l1[i])
print(l1)

In [ ]:
# 28. Flatten a nested list.

def flat(lis):
    flatList = []
    for element in lis:
        if type(element) is list:
            for item in element:
                flatList.append(item)
        else:
            flatList.append(element)
    return flatList
 
 
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
print('List', lis)
print('Flat List', flat(lis))

In [ ]:
# 29. Create a list of the first 10 Fibonacci numbers.
l=[0,1]
for i in range(2,10):
    x=l[i-1]+l[i-2]
    l.append(x)
print(l)

In [ ]:
# 30. Check if a list is sorted
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

In [ ]:
# Rotate a list to the left by `n` positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

In [ ]:
# 32. Rotate a list to the right by `n` positions.
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

In [ ]:
# 33. Create a list of prime numbers up to 50
prime_list = []
for i in range(2, 50):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
print(prime_list)

In [ ]:
# 34. Split a list into chunks of size `n`.
my_list = ['geeks', 'for', 'geeks', 'like', 
           'geeky','nerdy', 'geek', 'love', 
               'questions','words', 'life'] 
  
# Yield successive n-sized 
# chunks from l. 
def divide_chunks(l, n): 
      
    # looping till length l 
    for i in range(0, len(l), n):  
        yield l[i:i + n] 
  
# How many elements each 
# list should have 
n = 5
  
x = list(divide_chunks(my_list, n)) 
print (x)

In [ ]:
# 35. Find the second largest number in a list.
l=[1,2,5,9,8,55,12,56,99,101,5684,568]
l.sort()
print(l)
x=len(l)
print(l[x-2])

In [ ]:
# 36. Replace every element in a list with its square.
l=[2,3,4,5,6,7,8]
l1=[]
for i in l:
    x=i*i
    l1.append(x)
print(l1)

In [ ]:
# 37. Convert a list to a dictionary where list elements become keys and their
# indices become values.
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

In [ ]:
# 38. Shuffle the elements of a list randomly.
l=[2,3,4,5,6,7,8]
random.shuffle(l)
print(l)

In [ ]:
# 39. Create a list of the first 10 factorial numbers.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

In [ ]:
# 40. Check if two lists have at least one element in common.
list1 = [1, 2, 3, 9, 5]
list2 = [4, 5, 6, 7, 8]
for i in list1:
    if i in list2:
        x=1
    else:
        x=0

if x==1:
    print("two lists have at least one element in common")
else:
    print("two lists haven't at least one element in common")

In [ ]:
# 41. Remove all elements from a list.
l = [1, 2, 3, 9, 5]
l.clear()
print(l)

In [ ]:
# 42. Replace negative numbers in a list with 0.
l = [1, -2, 3, -9, 5]
for i in range(len(l)):
    if l[i]<0:
        l[i]=0
print(l)

In [ ]:
# 43. Convert a string into a list of words.
s = "Hello, this is a sample sentence."
print(s.split())

In [ ]:
# 44. Convert a list of words into a string.
l= ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']
my_string = " ".join(l)
print(my_string)

In [ ]:
# 45. Create a list of the first `n` powers of 2.
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

In [ ]:
# 46. Find the longest string in a list of strings.

string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

In [ ]:
# 47. Find the shortest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

In [ ]:
# 48. Create a list of the first `n` triangular numbers.
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

In [ ]:
# 49. Check if a list contains another list as a subsequence.
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

In [ ]:
# 50. Swap two elements in a list by their indices.
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

Tuple Based Practice Problem :

In [ ]:
# 1. Create a tuple with integers from 1 to 5.
t=(1,2,3,4,5)
t

In [ ]:
# 2. Access the third element of a tuple.
t=(1,2,3,4,5)
print(t[2])

In [ ]:
# 3. Find the length of a tuple without using the `len()` function.
t=(1,2,3,4,5)
count=0
for i in t:
    count+=1
count

In [ ]:
# 4. Count the occurrences of an element in a tuple.
t=(1,2,3,4,5,4,1,2,5,6,5)
x=int(input("enter a no. to search"))
count=0
for i in t:
    if x==i:
        count+=1
count

In [ ]:
# 5. Find the index of the first occurrence of an element in a tuple
t=(1,2,3,4,2,5)
x=int(input("enter a no. to search"))
print(t.index(x))

In [ ]:
# 6. Check if an element exists in a tuple.
t=(1,2,3,4,2,5)
x=int(input("enter a no. to search"))
x=t.count(x)
if x==1:
    print("element exists in a tuple")
else:
    print("element doesn't exists in a tuple")

In [ ]:
# 7. Convert a tuple to a list.
t=(1,2,3,4,2,5)
print(list(t))

In [ ]:
# 8. Convert a list to a tuple
l=[1,2,3,4,5,6]
print(tuple(l))

In [ ]:
# 9. Unpack the elements of a tuple into variables.
t=(1,2,3)
a,b,c = t
print(a,b,c)

In [ ]:
# 10. Create a tuple of even numbers from 1 to 10.
l=[]
for i in range(1,11):
    if (i%2)==0:
        l.append(i)
print(tuple(l))

In [ ]:
# 11. Create a tuple of odd numbers from 1 to 10.
l=[]
for i in range(1,11):
    if (i%2)!=0:
        l.append(i)
print(tuple(l))

In [ ]:
# 12. Concatenate two tuples.
t1=(1,2,3,4,2,5)
t2=(3,4,2,5)
print(t1+t2)

In [ ]:
# 13. Repeat a tuple three times
t2=(3,4,2,5)
print(3*t2)

In [ ]:
# 14. Check if a tuple is empty.
t=(1)
if not t:
    print("tuple is empty")
else:
    print("tuple is not empty")

In [ ]:
# 15. Create a nested tuple.
t=(1,1,2,3,(8,9,100),(True))
t

In [ ]:
# 16. Access the first element of a nested tuple.
t=((8,9,100),1,(4,1,2),1,1,2,3)
t[0]

In [ ]:
# 17. Create a tuple with a single element.
t=(69)
t

In [ ]:
# 18. Compare two tuples.
t1=(1,2,3)
t2=(3,2,1)
print(t1==t2)
print(t1!=t2)
print(t1>t2)
print(t1<t2)

In [ ]:
# 19. Delete a tuple.
t1=(1,2,3)
del t1
print(t1)

In [ ]:
# 20. Slice a tuple.
t=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
t1=t[2:5]
t1

In [ ]:
# 21. Find the maximum value in a tuple.
t=(1, 2, 3, 4, 5, 6, 7, 800, 9, 10)
max(t)

In [ ]:
# 22. Find the minimum value in a tuple
t=(1, 2, 3, 4, 5, 6, 7, 800, 9, 10)
min(t)

In [ ]:
# 23. Convert a string to a tuple of characters
s="Hello how are you"
print(tuple(s))

In [ ]:
# 24. Convert a tuple of characters to a string.
t= ('H', 'e', 'l', 'l', 'o', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u')
s=''.join(t)
s

In [ ]:
# 25. Create a tuple from multiple data types.
t=(1,2,3,True,3.145,"hello")
t

In [ ]:
# 26. Check if two tuples are identical
t1=(1,1,2,3)
t2=(1,1,3,2)
print("two tuples are identical:",t1==t2)

In [ ]:
# 27. Sort the elements of a tuple
t=(11, 2, 32, 4, 1,5, 6, 7, 800, 9, 10)
sorted(t)

In [ ]:
# 28. Convert a tuple of integers to a tuple of strings
t=(11, 2, 32, 4, 1, 5, 6, 7, 800, 9, 10)
t1=tuple(str(item) for item in t)
t1

In [ ]:
# 29. Convert a tuple of strings to a tuple of integers.
t=('11', '2', '32', '4', '1', '5', '6', '7', '800', '9', '10')
t1=tuple(int(item) for item in t)
t1

In [ ]:
# 30. Merge two tuples.
t1=(1,2,3,4,56,7)
t2=(11,22,32,4,56,7)
print(t1+t2)

In [ ]:
# 31. Flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

In [ ]:
# 32. Create a tuple of the first 5 prime numbers.
prime_list = []
for i in range(2, 12):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
print(tuple(prime_list))

In [ ]:
# 33. Check if a tuple is a palindrome.
t1=(1,2,3,2,1)
t2=t1[::-1]
print("tuple is a palindrome:",t1==t2)

In [ ]:
# 34. Create a tuple of squares of numbers from 1 to 5.
l=[]
for i in range(1,6):
    x=i*i
    l.append(x)
tuple(l)

In [ ]:
# 35. Filter out all even numbers from a tuple.
t=(11, 2, 32, 4, 1, 5, 6, 72, 800, 9, 10)
l=[]
for i in t:
    if i%2==0:
        l.append(i)
tuple(l)

In [ ]:
# 36. Multiply all elements in a tuple by 2.
t1=(11,2,33,25,10)
l=[]
for i in t1:
    l.append(i*2)
tuple(l)

In [ ]:
#37. Create a tuple of random numbers
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10)) 
print("Random tuple:", random_tuple)

In [ ]:
# 38. Check if a tuple is sorted.
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

In [ ]:
# 39. Rotate a tuple to the left by `n` positions
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

In [ ]:
#40. Rotate a tuple to the right by `n` positions.

def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

In [ ]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
# 42. Create a tuple from user input.
t=[]
x=int(input("Enter a value:"))
for i in range(x):
        t.append(int(input()))
tuple(t)

In [3]:
#43. Swap two elements in a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [2]:
#44. Reverse the elements of a tuple.
t = (1, 2, 3, 4, 5)
print(t[::-1])

(5, 4, 3, 2, 1)

In [4]:
# 45. Create a tuple of the first `n` powers of 2.
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [7]:
# 46. Find the longest string in a tuple of strings.
t = ("apple", "banana", "grape", "kiwi", "watermelon")
s=max(t,key=len)
print(s)

watermelon

In [6]:
# 47. Find the shortest string in a tuple of strings.
t = ("apple", "banana", "grape", "kiwi", "watermelon")
s=min(t,key=len)
print(s)

kiwi

In [9]:
#48. Create a tuple of the first `n` triangular numbers
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [10]:
# 49. Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [11]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

In [13]:
# 1. Create a set with integers from 1 to 5.
s={1,2,21,4,5}
s

{1, 2, 4, 5, 21}

In [15]:
# 2. Add an element to a set.
s={1,2,3,4,5}
s.add(11)
s

{1, 2, 4, 5, 11, 21}

In [16]:
# 3. Remove an element from a set.
s={1,2,3,4,5}
s.remove(4)
s

{1, 2, 3, 5}

In [20]:
# 4. Check if an element exists in a set.
s={1,2,3,4,5}
x=int(input("enter an element:"))
if x in s:
    print("element exists in a set")
else:
    print("element doesn't exists in a set")

enter an element: 1

element exists in a set

In [21]:
# 5. Find the length of a set without using the `len()` function
s={1,2,3,4,5}
count=0
for i in s:
    count+=1
count

5

In [25]:
# 6. Clear all elements from a set.
s={1,2,3,4,5}
s.clear()
s

set()

In [36]:
# 7. Create a set of even numbers from 1 to 10.
s=set()
for i in range(1,11):
    if i%2==0:
        s.add(i)
s

{2, 4, 6, 8, 10}

In [37]:
# 8. Create a set of odd numbers from 1 to 10
s=set()
for i in range(1,11):
    if i%2!=0:
        s.add(i)
s

{1, 3, 5, 7, 9}

In [39]:
#9. Find the union of two sets.
s={1,2,3,4,5}
s1={1,2,33,44,55}
s.union(s1)

{1, 2, 3, 4, 5, 33, 44, 55}

In [40]:
# 10. Find the intersection of two sets.
s={1,2,3,4,5}
s1={1,2,33,44,55}
s.intersection(s1)

{1, 2}

In [41]:
# 11. Find the difference between two sets
s={1,2,3,4,5}
s1={1,2,33,44,55}
s.difference(s1)

{3, 4, 5}

In [42]:
# 12. Check if a set is a subset of another set
s={1,2,3,4,5}
s1={1,2,33,44,55}
s.issubset(s1)

False

In [43]:
# 13. Check if a set is a superset of another set.
s={1,2,3,4,5}
s1={1,2,33,44,55}
s.issuperset(s1)

False

In [44]:
# 14. Create a set from a list.
l=[1,2,3,4,5]
set(l)

{1, 2, 3, 4, 5}

In [45]:
# 15. Convert a set to a list.
s={1,2,3,4,5}
list(s)

[1, 2, 3, 4, 5]

In [51]:
# 16. Remove a random element from a set.
import random
s={1,2,3,4,5}
random = random.choice(list(s))
s.remove(random)
s

{1, 2, 3, 5}

In [73]:
# 17. Pop an element from a set.
s={1,2,3,4,5}
s.pop()

1

In [58]:
# 18. Check if two sets have no elements in common.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [84]:
# 19. Find the symmetric difference between two sets.
s1 = {1, 2, 3, 4}
s2 = {5, 6, 2, 9}
s1.symmetric_difference(s2)

{1, 3, 4, 5, 6, 9}

In [93]:
# 20. Update a set with elements from another set.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5}

In [94]:
# 21. Create a set of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [95]:
# 22. Check if two sets are identical.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
if s1 == s2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are not identical.

In [96]:
# 23. Create a frozen set.
s=[1,2,3,4,5]
set=frozenset(s)
print(set)

frozenset({1, 2, 3, 4, 5})

In [97]:
# 24. Check if a set is disjoint with another set.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.isdisjoint(s2)

False

In [3]:
# 25. Create a set of squares of numbers from 1 to 5
set1=set()
for i in range(1,6):
    set1.add(i*i)
set1

{1, 4, 9, 16, 25}

In [4]:
# 26. Filter out all even numbers from a set.
s={1,2,3,4,5,6,7,8,9,10,11,12}
s4=set()
for i in s:
    if i%2==0:
        s4.add(i)
s4

{2, 4, 6, 8, 10, 12}

In [6]:
# 27. Multiply all elements in a set by 2.
s={1,2,3,4,5,6,7,8,9,10,11,12}
s1=set()
for i in s:
    s1.add(i*2)
s1

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24}

In [7]:
# 28. Create a set of random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {38, 40, 9, 42, 19}

In [8]:
# 29. Check if a set is empty.
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [9]:
# 30. Create a nested set (hint: use frozenset).
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [12]:
# 31. Remove an element from a set using the discard method.
s1 = {1, 2, 3, 4, 5}
s1.discard(1)
s1

{2, 3, 4, 5}

In [15]:
# 32. Compare two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [16]:
# 33. Create a set from a string.
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'l', 'o', 'e', 'h'}

In [17]:
# 34. Convert a set of strings to a set of integers.

string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'789', '123', '456'}
Converted Integer Set: {456, 123, 789}

In [18]:
# 35. Convert a set of integers to a set of strings
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'3', '1', '4', '5', '2'}

In [19]:
# 36. Create a set from a tuple.
input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

In [20]:
# 37. Convert a set to a tuple.
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [21]:
# 38. Find the maximum value in a set.
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

In [23]:
 #39. Find the minimum value in a set.
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [24]:
# 40. Create a set from user input.
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  2
>  2
>  24
>  4
>  5
>  8
>  done

Final set: {'24', '8', '4', '5', '2'}

In [25]:
# 41. Check if the intersection of two sets is empty. 
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [26]:
# 42. Create a set of the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [27]:
# 43. Remove duplicates from a list using sets
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [28]:
# 44. Check if two sets have the same elements, regardless of their count.
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [29]:
# 45. Create a set of the first `n` powers of 2.
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [30]:
# 46. Find the common elements between a set and a list.
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [31]:
# 47. Create a set of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  5

The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

In [32]:
# 48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [33]:
# 49. Create a set of alternating 1s and 0s of length `n`.
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [35]:
# 50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}